* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightcyan;
  font-family: cursive;
}

.main {
  width: 80vw;
  margin: auto;
  display: flex;
  justify-content: center;
}

.titulo {
  font-size: 18p;
  font-family: fantasy;
  padding: 10px;
  width: 80vw;
  margin: 12px 300px 5px;
}

.box {
  padding: 10px;
  margin: 0 10px 0 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: mediumslateblue;
  border-radius: 0.5em;
  width: 30vw;
  height: auto;
}

.btn {
  border: 0;
  color: white;
  font-weight: bold;
  background-color: blue;
  padding: 10px;
  margin-top: 10px;
  border-radius: 0.5em;
}

.text-input {
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 0.5em;
  width: 100%;
  height: 50px;
}

.rodapie { 
  grid-area: rodapie;  
  color:brown;
  padding: 10px;
  margin-top: 50px;
  border-radius: 0.5em;
  font-family: cursive;
  font-size: medium;
  font-weight: bold;
}

#mensajes-errores{
  color: red;
}